
CSVDataCheck/bin/Debug/ControlzEx.dll
CSVDataCheck/bin/Debug/CSVDataCheck.exe
CSVDataCheck/bin/Debug/ControlzEx.pdb
CSVDataCheck/bin/Debug/CSVDataCheck.exe.config
CSVDataCheck/bin/Debug/CSVDataCheck.pdb
CSVDataCheck/bin/Debug/JetBrains.Annotations.dll
CSVDataCheck/bin/Debug/JetBrains.Annotations.xml
CSVDataCheck/bin/Debug/MahApps.Metro.dll
CSVDataCheck/bin/Debug/MahApps.Metro.pdb
CSVDataCheck/bin/Debug/MahApps.Metro.xml
CSVDataCheck/bin/Debug/System.Windows.Interactivity.dll
CSVDataCheck/obj/Debug/CSVDataCheck.csproj.CopyComplete
CSVDataCheck/obj/Debug/App.g.i.cs
CSVDataCheck/obj/Debug/App.g.cs
CSVDataCheck/obj/Debug/App.baml
CSVDataCheck/obj/Debug/CSVDataCheck.pdb
CSVDataCheck/obj/Debug/CSVDataCheck.g.resources
CSVDataCheck/obj/Debug/CSVDataCheck.exe
CSVDataCheck/obj/Debug/Views/Window.g.i.cs
CSVDataCheck/obj/Debug/Views/ProgressControl.g.i.cs
CSVDataCheck/obj/Debug/Views/ProgressControl.g.cs
CSVDataCheck/obj/Debug/Views/ProgressControl.baml
CSVDataCheck/obj/Debug/Views/Progress.g.i.cs
CSVDataCheck/obj/Debug/Views/Main.g.i.cs
CSVDataCheck/obj/Debug/Views/Main.g.cs
CSVDataCheck/obj/Debug/Views/Main.baml
CSVDataCheck/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
CSVDataCheck/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSVDataCheck/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSVDataCheck/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSVDataCheck/obj/Debug/Resources/IconsNonShared.baml
CSVDataCheck/obj/Debug/Resources/Icons.baml
CSVDataCheck/obj/Debug/MainWindow.g.i.cs
CSVDataCheck/obj/Debug/MainWindow.g.cs
CSVDataCheck/obj/Debug/MainWindow.baml
CSVDataCheck/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CSVDataCheck/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CSVDataCheck/obj/Debug/CSVDataCheck_MarkupCompile.lref
CSVDataCheck/obj/Debug/CSVDataCheck_MarkupCompile.i.cache
CSVDataCheck/obj/Debug/CSVDataCheck_MarkupCompile.cache
CSVDataCheck/obj/Debug/CSVDataCheck.Properties.Resources.resources
CSVDataCheck/obj/Debug/CSVDataCheck.csprojAssemblyReference.cache
CSVDataCheck/obj/Debug/CSVDataCheck.csproj.GenerateResource.cache
CSVDataCheck/obj/Debug/CSVDataCheck.csproj.FileListAbsolute.txt
CSVDataCheck/obj/Debug/CSVDataCheck.csproj.CoreCompileInputs.cache
